body {
	background: #f5f5cc;
	text-align: center;
	font-family: 'Times New Roman';
	color: #0e3e00;
}
.eka {
	font-size: 20px;
}

.toka {
	background-color: #abc773;
  border-radius: 12px;
	padding: 10px;
	padding-bottom: 15px;
  font-size: 20px;
	border: 1px solid black;
}
/* ---Kirjautumisalueen css--- */
.kirjaudu {
margin-bottom: 20px;
padding: 10px;
}
input {
	margin: 3px 0;
	padding: 5px;
	box-sizing: border-box;
}
input:focus {
	outline: none;
  border: 3px solid #abc773;
}
#kirjaudu-button {
	background-color: #cccc99;
  border-radius: 12px;
  color: white;
  padding: 10px;
	margin: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
#kirjaudu-button:hover {
	background: #b0b082;
}
/* 	------ 	*/

.otsikko {
  margin-top: 70px;
	font-size: 40px;
}
.ohje {
  margin-top: 50px;
  font-size: 20px;

}
.dropdown {
  height: 10vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tasot {
  position: relative;
}

.tasot ul {
  margin-top: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background: white;
  left: 0px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}
.tasot li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasot li:hover {
  background-color: #abc773;
}

.tasot a {
  color: black;
  text-decoration: none;
}

.dropdown button {
  background-color: #cccc99;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.dropdown button:hover {
	background: #b0b082;
}
.tasot button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
.aloitaPeli {
	margin-top: 40px;
  background-color: #abc773;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
.aloitaPeli:hover {
	background: #9bb567;
}
