body {
  background-color: #5F9EA0;

}
.container {
  margin: auto;
  text-align: center;
  font-family: monospace;
  color: white;
  padding: 10px;
}
#tekstiboxi {
  margin: auto;
  width: 100px;
  text-align: center;
  padding: 10px;
  border: 3px dashed white;
}
#uudelleen {
  text-align: center;
  margin: auto;
  padding-top: 15px;
}
