/* -- klikkausten laskuri -- */
.hiiri {
    background: #e0d9ad;
    position: fixed;
    left: 10%;
    top: 20%;
    width: 8em;
    text-align: center;
    padding: 5px;
    color: #0e3e00;
    font-size: 20px;
    border: none;
    border-radius: 5px;
  }
  /* ------------------ */
  
  /* -- yleinen muotoilu -- */
  * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
  }
  body {
   height: 100vh;
   display: flex;
   background: #f9f3d1;
  }
  /* -------------------- */
  
  /* -- ohjetekstin muotoilu -- */
  .ohje {
    color: #0e3e00;
    position: fixed;
    top: 5px;
    left: 40%;
    font-size: 22px;
    font-family: monospace;
  }
  /* ----------------------- */
  
  /* --muistipeli alueen muotoilu -- */
  .muistipeli {
   width: 650px;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 5px;
   display: flex;
   flex-wrap: wrap;
   perspective: 1000px;
  }
  /* ------------------------ */
  
  /* -- pelikorttien muotoilu -- */
  .pelikortti {
  width: calc(25% - 10px); /* 4 korttia vaakaan */
  height: calc(25% - 10px); /* 4 korttia pystyyn */
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform.5s;
  }
  .pelikortti:active {
   transform: scale(.97);
   transition: transform.2s;
  }
  .pelikortti.flip {
   transform: rotateY(180deg);
  }
  /* ---------------------- */
  
  /* määritetää korttien kuvat päällekkäin */
  .etupuoli,
  .takapuoli {
  width: 100%;
  height: 100%;
  padding: 12px;
  position: absolute;
  border-radius: 5px;
  background: #e0d9ad;
  backface-visibility: hidden;
  }
  .etupuoli {
   transform: rotateY(180deg);
  }
  /* ------------- */
  
  /* -- linkkien muotoilu -- */
  .nav-links {
  position: fixed;
   right: 10%;
   top: 20%;
   width: 8em;
  }
  ul {
   list-style-type: none;
  }
  #home {
   background: #e0d9ad;
   text-align: center;
   padding: 10px;
   margin: auto;
   margin-top: 15px;
   color: #0e3e00;
   font-size: 28px;
   border: none;
   border-radius: 5px;
  }
  #replay {
   background: #e0d9ad;
   text-align: center;
   padding: 10px;
   margin: auto;
   margin-top: 15px;
   color: #0e3e00;
   font-size: 28px;
   border: none;
   border-radius: 5px;
  }

  button {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}


#stopwatch {
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translate(-50%, -20%);
}
#buttons {
    position: absolute;
    top: 55%;
    left: 15%;
    transform: translate(-51.6%, -10%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}
  /* ------------------- */