body {
  background: #f5f5cc;
  text-align: center;
  font-family: 'Times New Roman';
  color: #0e3e00;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.otsikko {
  margin-top: 70px;
	font-size: 40px;
}
.ohje {
  margin-top: 50px;
  font-size: 20px;
}
/* ----- */

/* ---Kirjautumisalueen css--- */
.kirjaudu {
margin-bottom: 20px;
padding: 10px;
}
input {
	margin: 3px 0;
	padding: 5px;
	box-sizing: border-box;
}
input:focus {
	outline: none;
  border: 3px solid #abc773;
}
#kirjaudu-button {
	background-color: #abc773;
  border-radius: 12px;
  color: white;
  padding: 10px;
	margin: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
#kirjaudu-button:hover {
	background: #9bb567;
}
/* 	------ 	*/

/* --- dropdown valikon css --- */
.dropdown-valinta {
  padding: 5px 8px;
  margin-bottom: 20px;
}
/* ----- */

/* -- pelaa buttonin css -- */
#abc:link, #abc:visited {
	margin-top: 5px;
  background-color: #abc773;
  border-radius: 12px;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
#abc:hover, #abc:active {
	background: #9bb567;
}
/* ---- */
